# SPDX-License-Identifier: LGPL-3.0-or-later
# Copyright (C) 2023 Intel Corporation

# This template is used by `curation_script.sh` to create a wrapper dockerfile
# `mariadb-gsc.dockerfile` that includes user provided inputs e.g. `ca.cert` file etc.
# into the graminized MariaDB image.

# The curation script fills the <base_image_name> during curation.
FROM <base_image_name>

# Below line copies cert files into the image if user selects remote attestation
<copy_cert_files>
