Source: gramine-contrib
Priority: optional
Maintainer: Wojtek Porczyk <woju@invisiblethingslab.com>
Build-Depends: debhelper-compat (= 13),
 gramine (>= 1.6),
 meson (>= 0.56),
 pkg-config,
Standards-Version: 4.1.3
Section: contrib/misc
Homepage: https://gramine.readthedocs.io/projects/contrib/
Vcs-Browser: https://github.com/gramineproject/contrib
Vcs-Git: https://github.com/gramineproject/contrib.git

Package: gramine-ratls-maa
Architecture: amd64
Description: Microsoft Azure Attestation (MAA) verifier for RA-TLS
 ra_tls_verify_maa.so library contains the verification callback that should be
 registered with the TLS library during verification of the TLS certificate. It
 verifies the RA-TLS certificate and the SGX quote by sending it to the
 Microsoft Azure Attestation (MAA) provider and retrieving the attestation
 response (the JWT) from it.
 .
 secret_prov_verify_maa.so library is used in secret-provisioning services. The
 only difference with secret_prov_verify_epid.so is that this library uses MAA
 based RA-TLS flows underneath.
Depends:
 gramine (>= 1.6),
 ${misc:Depends},
 ${shlibs:Depends},
